.prodTitle {
  text-align: center;
}

.prods {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
}

.prods li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 350px;
  width: 100%;
  max-width: 300px;
  transition: transform 0.5s ease;
}

.prods li:hover {
  transform: scale(1.1);
}

.prods img {
  margin-top: 25px;
  height: 200px;
  width: auto;
  display: block;
}

.prods h3 {
  font-size: 40px;
  margin: 20px;
  text-align: center;
  color: rgb(58, 4, 4);
}
